.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button { 
  margin-top: 30px;
  margin-bottom: 30px;
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 30px;
  gap: 30px;
}

.user span.username {
  display: block;
}

.user img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
